.header-title {
    text-align: center;
    margin: 1rem auto;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 90%;
}

.header-subtitle {
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
    letter-spacing: 0.1rem;  
    width: 99%; 
}

@media screen and (max-width: 700px) {
    .header-subtitle {
        font-size: 1rem;
        margin-bottom: 0;
        height: 50px;
    }
} 

.underline {
    width: 99%;
    display: grid;
    margin: 0 auto;
    height: 0.25rem;
    background: var(--clr-white); 
}