.loading {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    animation: fadeinout 4s linear forwards; 
}

@-webkit-keyframes fadeinout {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeinout {
    from {opacity: 0}
    to {opacity: 1}
}