.loading {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    animation: fadeinout 4s linear forwards; 
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}